# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env
*.env

# Database
*.db
*.sqlite
*.sqlite3

# Python virtual environments
venv/
.venv/
env/

# Node
node_modules/
frontend/node_modules/

# Build files
frontend/dist/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
